<!DOCTYPE html>
<html>
<head>
	<title>SteamPunk</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Steampunk</h1>
	<div>
		El steampunk fue, en sus inicios, un subgénero literario nacido dentro de la ciencia ficción especulativa que surgió durante la década de 1980 de la mano de escritores conocidos por sus trabajos ciberpunk. A día de hoy, este subgénero ha madurado hasta convertirse en un movimiento artístico y sociocultural y no tan solo literario. El steampunk se desenvuelve en una ambientación donde la tecnología a vapor sigue siendo la predominante y por lo general localizada en Inglaterra durante la época victoriana, donde no es extraño encontrar elementos comunes de la ciencia ficción o la fantasía. Cabe resaltar que es muy pulento.
	</div>
	<a href="{% url 'index' %}">Ir a "Index"</a>
	<br>
	<a href="{% url 'equipodocente' %}">Ir al equipo docente</a>
</body>
</html>
