<!DOCTYPE html>
<html>
<head>
	<title>equipo docente</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<h1>Equipo docente</h1>
	</div>
	<table>
		<tr>
			<td>Angel Jimenez Molina</td>
		</tr>
		<tr>
			<td>Ivan Diaz Campos</td>
		</tr>
		<tr>
			<td>Javiera Ovalle</td>
		</tr>
		<tr>
			<td>Jorge Pinto</td>
		</tr>
		<tr>
			<td>Jose Canto</td>
		</tr>
		<tr>
			<td>Macarena V. Osorio</td>
		</tr>
		<tr>
			<td>Victoria Arce</td>
		</tr>
		<tr>
			<td>Sofia Herrera</td>
		</tr>
		<tr>
			<td>Sebastian Donoso</td>
		</tr>
		<tr>
			<td>Nicolas Villa Contardo</td>
		</tr>
		<tr>
			<td>Matias Rojas</td>
		</tr>
		<tr>
			<td>Juan Gutierrez</td>
		</tr>
		<tr>
			<td>Eduardo Valerio</td>
		</tr>
		<tr>
			<td>Catalina Martin</td>
		</tr>
		<tr>
			<td>Carlos Vega</td>
		</tr>
	</table>
	<a href="{% url 'index' %}">Ir a "Index"</a>
	<br>
	<a href="{% url 'aeleccion' %}">Ir a la pestaña de SteamPunk</a>

</body>
<html>